In [67]:
import warnings
warnings.filterwarnings('ignore')

In [68]:
import numpy as np
import matplotlib.pyplot as plt
# ML Libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report,roc_auc_score
from sklearn.inspection import permutation_importance
import xgboost as xgb
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [69]:
import pandas as pd
df = pd.read_csv(r"C:\Users\asus\Music\Hello_World.csv")
df

,age,gender,education_level,employment_status,monthly_income,credit_utilization_ratio,total_credit_limit,late_payments_6m,transaction_frequency,average_transaction_amount,login_frequency,credit_score_checks,luxury_purchase_ratio,savings_rate,debt_to_income,credit_score
0,40,Male,Bachelor,Unemployed,3075.71,43.882667,12288.470646,5,32,122.927413,13,0,0.279732,0.321871,0.876984,1
1,36,Female,Master,Employed,4224.22,6.276654,11669.772882,4,30,253.398786,11,1,0.624207,0.088496,0.613725,1
2,43,Male,Bachelor,Employed,4037.93,5.464899,16257.911561,2,28,160.690043,14,2,0.153837,0.135432,0.556809,0
3,52,Female,High School,Self-Employed,3257.82,37.897596,15172.362148,3,28,76.059006,19,7,0.200288,0.335633,0.327865,0
4,35,Male,PhD,Employed,4063.68,16.172157,19469.636474,1,54,156.283499,11,2,0.065791,0.281460,0.604514,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,35,Male,High School,Self-Employed,5692.00,19.248471,22059.799510,1,27,89.745581,12,6,0.033139,0.177800,0.248493,0
49996,36,Female,Bachelor,Employed,5576.83,56.573087,11923.194954,1,43,127.594879,19,2,0.196269,0.146693,0.604514,0
49997,40,Male,Bachelor,Unemployed,4326.97,20.753516,9941.729735,2,36,90.369409,16,3,0.104400,0.259277,0.449366,0
49998,37,Female,Bachelor,Self-Employed,6000.00,44.376491,27748.132322,2,25,131.025516,17,2,0.306811,0.053442,1.285028,0
49999,50,Male,Master,Self-Employed,4904.81,52.815719,9993.842656,3,32,198.883612,12,2,0.099583,0.168055,0.192577,0

In [70]:
df.dtypes # to check data type of all the columns

age                             int64
gender                         object
education_level                object
employment_status              object
monthly_income                float64
credit_utilization_ratio      float64
total_credit_limit            float64
late_payments_6m                int64
transaction_frequency           int64
average_transaction_amount    float64
login_frequency                 int64
credit_score_checks             int64
luxury_purchase_ratio         float64
savings_rate                  float64
debt_to_income                float64
credit_score                    int64
dtype: object

In [33]:
# from sklearn.preprocessing import LabelEncoder

# # Categorical columns to encode
# categorical_cols = ['gender', 'education_level', 'employment_status']

# # Dictionary to store mappings
# label_mappings = {}

# # Apply LabelEncoder with mapping
# for col in categorical_cols:
#     le = LabelEncoder()
#     df[col] = le.fit_transform(df[col].astype(str))  # Ensure string type
#     label_mappings[col] = dict(zip(le.classes_, le.transform(le.classes_)))  # Save mapping

# # Print the mappings
# for col, mapping in label_mappings.items():
#     print(f"{col} mapping: {mapping}")

In [71]:
df

,age,gender,education_level,employment_status,monthly_income,credit_utilization_ratio,total_credit_limit,late_payments_6m,transaction_frequency,average_transaction_amount,login_frequency,credit_score_checks,luxury_purchase_ratio,savings_rate,debt_to_income,credit_score
0,40,Male,Bachelor,Unemployed,3075.71,43.882667,12288.470646,5,32,122.927413,13,0,0.279732,0.321871,0.876984,1
1,36,Female,Master,Employed,4224.22,6.276654,11669.772882,4,30,253.398786,11,1,0.624207,0.088496,0.613725,1
2,43,Male,Bachelor,Employed,4037.93,5.464899,16257.911561,2,28,160.690043,14,2,0.153837,0.135432,0.556809,0
3,52,Female,High School,Self-Employed,3257.82,37.897596,15172.362148,3,28,76.059006,19,7,0.200288,0.335633,0.327865,0
4,35,Male,PhD,Employed,4063.68,16.172157,19469.636474,1,54,156.283499,11,2,0.065791,0.281460,0.604514,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,35,Male,High School,Self-Employed,5692.00,19.248471,22059.799510,1,27,89.745581,12,6,0.033139,0.177800,0.248493,0
49996,36,Female,Bachelor,Employed,5576.83,56.573087,11923.194954,1,43,127.594879,19,2,0.196269,0.146693,0.604514,0
49997,40,Male,Bachelor,Unemployed,4326.97,20.753516,9941.729735,2,36,90.369409,16,3,0.104400,0.259277,0.449366,0
49998,37,Female,Bachelor,Self-Employed,6000.00,44.376491,27748.132322,2,25,131.025516,17,2,0.306811,0.053442,1.285028,0
49999,50,Male,Master,Self-Employed,4904.81,52.815719,9993.842656,3,32,198.883612,12,2,0.099583,0.168055,0.192577,0

In [72]:
df.isnull().sum()

age                           0
gender                        0
education_level               0
employment_status             0
monthly_income                0
credit_utilization_ratio      0
total_credit_limit            0
late_payments_6m              0
transaction_frequency         0
average_transaction_amount    0
login_frequency               0
credit_score_checks           0
luxury_purchase_ratio         0
savings_rate                  0
debt_to_income                0
credit_score                  0
dtype: int64

In [73]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# One-hot encode the categorical features
df_encoded = pd.get_dummies(df, columns=['gender', 'education_level', 'employment_status'], drop_first=True)

# Define features (X) and target (y)
X = df_encoded.drop('credit_score', axis=1)
y = df_encoded['credit_score']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Fit linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [74]:
df

,age,gender,education_level,employment_status,monthly_income,credit_utilization_ratio,total_credit_limit,late_payments_6m,transaction_frequency,average_transaction_amount,login_frequency,credit_score_checks,luxury_purchase_ratio,savings_rate,debt_to_income,credit_score
0,40,Male,Bachelor,Unemployed,3075.71,43.882667,12288.470646,5,32,122.927413,13,0,0.279732,0.321871,0.876984,1
1,36,Female,Master,Employed,4224.22,6.276654,11669.772882,4,30,253.398786,11,1,0.624207,0.088496,0.613725,1
2,43,Male,Bachelor,Employed,4037.93,5.464899,16257.911561,2,28,160.690043,14,2,0.153837,0.135432,0.556809,0
3,52,Female,High School,Self-Employed,3257.82,37.897596,15172.362148,3,28,76.059006,19,7,0.200288,0.335633,0.327865,0
4,35,Male,PhD,Employed,4063.68,16.172157,19469.636474,1,54,156.283499,11,2,0.065791,0.281460,0.604514,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,35,Male,High School,Self-Employed,5692.00,19.248471,22059.799510,1,27,89.745581,12,6,0.033139,0.177800,0.248493,0
49996,36,Female,Bachelor,Employed,5576.83,56.573087,11923.194954,1,43,127.594879,19,2,0.196269,0.146693,0.604514,0
49997,40,Male,Bachelor,Unemployed,4326.97,20.753516,9941.729735,2,36,90.369409,16,3,0.104400,0.259277,0.449366,0
49998,37,Female,Bachelor,Self-Employed,6000.00,44.376491,27748.132322,2,25,131.025516,17,2,0.306811,0.053442,1.285028,0
49999,50,Male,Master,Self-Employed,4904.81,52.815719,9993.842656,3,32,198.883612,12,2,0.099583,0.168055,0.192577,0

In [75]:
y_pred = model.predict(X_test)

In [103]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", mse)
print("RÂ² Score:", r2)
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Mean Absolute Error: 0.2292115833408704
Mean Squared Error: 0.09710616521696783
RÂ² Score: 0.34437057888761646
Root Mean Squared Error: 0.3116186214220322

In [93]:
import joblib

joblib.dump(model, 'credit_score_model_linearregression.joblib')
model = joblib.load('credit_score_model.joblib')

In [77]:
print(X_train.columns.tolist())

['age', 'monthly_income', 'credit_utilization_ratio', 'total_credit_limit', 'late_payments_6m', 'transaction_frequency', 'average_transaction_amount', 'login_frequency', 'credit_score_checks', 'luxury_purchase_ratio', 'savings_rate', 'debt_to_income', 'gender_Male', 'gender_Other', 'education_level_High School', 'education_level_Master', 'education_level_PhD', 'employment_status_Retired', 'employment_status_Self-Employed', 'employment_status_Unemployed']

In [78]:
X_train.columns.tolist()

['age',
 'monthly_income',
 'credit_utilization_ratio',
 'total_credit_limit',
 'late_payments_6m',
 'transaction_frequency',
 'average_transaction_amount',
 'login_frequency',
 'credit_score_checks',
 'luxury_purchase_ratio',
 'savings_rate',
 'debt_to_income',
 'gender_Male',
 'gender_Other',
 'education_level_High School',
 'education_level_Master',
 'education_level_PhD',
 'employment_status_Retired',
 'employment_status_Self-Employed',
 'employment_status_Unemployed']

In [79]:
print(df['gender'].unique())
print(df['education_level'].unique())
print(df['employment_status'].unique())

['Male' 'Female' 'Other']
['Bachelor' 'Master' 'High School' 'PhD']
['Unemployed' 'Employed' 'Self-Employed' 'Retired']

In [57]:
print(df['gender'].head())  # should be 'Male', 'Female', etc.
print(df['education_level'].head())  # should be 'Bachelor', 'PhD', etc.
print(df['employment_status'].head())  # should be 'Salaried', etc.

0      Male
1    Female
2      Male
3    Female
4      Male
Name: gender, dtype: object
0       Bachelor
1         Master
2       Bachelor
3    High School
4            PhD
Name: education_level, dtype: object
0       Unemployed
1         Employed
2         Employed
3    Self-Employed
4         Employed
Name: employment_status, dtype: object

In [62]:
from sklearn.preprocessing import LabelEncoder

le_gender = LabelEncoder()
le_gender.fit(df['gender'])  # this must be original strings

print("ðŸ”¹ Gender Mapping:", dict(zip(le_gender.transform(le_gender.classes_), le_gender.classes_)))

le_edu = LabelEncoder()
le_edu.fit(df['education_level'])
print("ðŸ”¹ Education Level Mapping:", dict(zip(le_edu.transform(le_edu.classes_), le_edu.classes_)))

le_emp = LabelEncoder()
le_emp.fit(df['employment_status'])
print("ðŸ”¹ Employment Status Mapping:", dict(zip(le_emp.transform(le_emp.classes_), le_emp.classes_)))

ðŸ”¹ Gender Mapping: {0: 'Female', 1: 'Male', 2: 'Other'}
ðŸ”¹ Education Level Mapping: {0: 'Bachelor', 1: 'High School', 2: 'Master', 3: 'PhD'}
ðŸ”¹ Employment Status Mapping: {0: 'Employed', 1: 'Retired', 2: 'Self-Employed', 3: 'Unemployed'}

In [43]:
# print(df[['gender', 'education_level', 'employment_status']].drop_duplicates())

In [28]:
# print("Gender:", df['gender'].unique())
# print("Education Level:", df['education_level'].unique())
# print("Employment Status:", df['employment_status'].unique())

In [63]:
from sklearn.preprocessing import LabelEncoder

# Assuming original categorical columns are in 'df'
le_gender = LabelEncoder()
le_edu = LabelEncoder()
le_emp = LabelEncoder()

# Fit on original (non-encoded) data
le_gender.fit(df['gender'])
le_edu.fit(df['education_level'])
le_emp.fit(df['employment_status'])

# Print mapping
print("ðŸ”¹ Gender Mapping:", dict(zip(le_gender.classes_, le_gender.transform(le_gender.classes_))))
print("ðŸ”¹ Education Level Mapping:", dict(zip(le_edu.classes_, le_edu.transform(le_edu.classes_))))
print("ðŸ”¹ Employment Status Mapping:", dict(zip(le_emp.classes_, le_emp.transform(le_emp.classes_))))

ðŸ”¹ Gender Mapping: {'Female': 0, 'Male': 1, 'Other': 2}
ðŸ”¹ Education Level Mapping: {'Bachelor': 0, 'High School': 1, 'Master': 2, 'PhD': 3}
ðŸ”¹ Employment Status Mapping: {'Employed': 0, 'Retired': 1, 'Self-Employed': 2, 'Unemployed': 3}

In [64]:
from sklearn.preprocessing import LabelEncoder

# Fit LabelEncoder on original column (with strings)
le = LabelEncoder()
le.fit(df['gender'])  # Make sure this column contains strings like 'Male', 'Female', etc.

# Print the mapping
for i, label in enumerate(le.classes_):
    print(f"{label} â†’ {i}")

Female â†’ 0
Male â†’ 1
Other â†’ 2

In [87]:
new_data = pd.DataFrame([{
    'age': 40,
    'monthly_income': 3075.71,
    'credit_utilization_ratio': 43.88,
    'total_credit_limit': 12288.47,
    'late_payments_6m': 5,
    'transaction_frequency': 32,
    'average_transaction_amount': 122.92,
    'login_frequency': 13,
    'credit_score_checks': 0,
    'luxury_purchase_ratio': 0.27,
    'savings_rate': 0.32,
    'debt_to_income': 0.87,
    
    # One-hot encoded categorical values
    'gender_Male': 1,
    'gender_Other': 0,
    
    'education_level_High School': 0,
    'education_level_Master': 0,
    'education_level_PhD': 0,
    
    'employment_status_Retired': 0,
    'employment_status_Self-Employed': 0,
    'employment_status_Unemployed': 1
}])

prediction = model.predict(new_data)
predicted_class = int(round(prediction[0]))
print("Predicted Credit Score:", predicted_class)

Predicted Credit Score: 1

In [88]:
new_data = pd.DataFrame([{
    'age': 43,
    'monthly_income': 4037.93,
    'credit_utilization_ratio': 5.46,
    'total_credit_limit': 16257.91,
    'late_payments_6m': 2,
    'transaction_frequency': 28,
    'average_transaction_amount': 160.69,
    'login_frequency': 14,
    'credit_score_checks': 2,
    'luxury_purchase_ratio': 0.15,
    'savings_rate': 0.13,
    'debt_to_income': 0.55,
    
    # One-hot encoded categorical values
    'gender_Male': 1,
    'gender_Other': 0,
    
    'education_level_High School': 0,
    'education_level_Master': 0,
    'education_level_PhD': 0,
    
    'employment_status_Retired': 0,
    'employment_status_Self-Employed': 0,
    'employment_status_Unemployed': 0
}])

# prediction = model.predict(new_data)
# print("Predicted Credit Score:", prediction[0])
prediction = model.predict(new_data)
predicted_class = int(round(prediction[0]))
print("Predicted Credit Score:", predicted_class)

Predicted Credit Score: 0

In [105]:
import pandas as pd

new_data = pd.DataFrame([{
    'age': 30,
    'monthly_income': 40000,
    'credit_utilization_ratio': 10,
    'total_credit_limit': 50000,
    'late_payments_6m': 1,
    'transaction_frequency': 10,
    'average_transaction_amount': 1000,
    'login_frequency': 15,
    'credit_score_checks': 5,
    'luxury_purchase_ratio': 0.05,
    'savings_rate': 0.2,
    'debt_to_income': 0.3,
    'gender_Male': 1,
    'gender_Other': 0,
    'education_level_High School': 0,
    'education_level_Master': 1,
    'education_level_PhD': 0,
    'employment_status_Retired': 0,
    'employment_status_Self-Employed': 0,
    'employment_status_Unemployed': 0
}])
prediction = model.predict(new_data)
predicted_class = int(round(prediction[0]))
print("Predicted Credit Score:", predicted_class)

Predicted Credit Score: 0

In [104]:
# Feature importance using coefficients
importances = pd.Series(model.coef_, index=X.columns)
important_features = importances.abs().sort_values(ascending=False)

print("Top 10 Important Features:")
print(important_features.head(10))

Top 10 Important Features:
debt_to_income                     0.338962
savings_rate                       0.152988
late_payments_6m                   0.090369
luxury_purchase_ratio              0.020770
gender_Other                       0.007300
employment_status_Unemployed       0.006855
employment_status_Retired          0.004768
education_level_PhD                0.002406
education_level_Master             0.002102
employment_status_Self-Employed    0.001716
dtype: float64